main {
  justify-content: center;
  align-items: center;
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.phone {
  margin-top: 40px;
  position: relative;
}

.message {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  top: 28px;
  left: 26px;
  font-size: 12px;
  max-width: 132px;
  line-height: 19px;
}

a.download-btn {
  display: block;
  margin: 52px auto 0;
  width: 160px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background: -webkit-linear-gradient(173.82deg, #ff373c 4.68%, #ff5757 83.21%);
  background: -moz-linear-gradient(173.82deg, #ff373c 4.68%, #ff5757 83.21%);
  background: linear-gradient(276.18deg, #ff373c 4.68%, #ff5757 83.21%);
  border-radius: 19px;
  text-decoration: none;
}