main {
  justify-content: center;
  align-items: center;
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.phone {
  margin-top: 40px;
  position: relative;
}

.marquee_box {
  position: absolute;
  top: 28px;
  left: 26px;
  width: 132px;
  height: 19px;
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.marquee_box p {
  display: inline-block;
  color: black;
  font-size: 12px;
  line-height: 19px;
}

.marquee_box:hover p {
  animation-play-state: paused;
  cursor: default;
}

a.download-btn {
  display: block;
  margin: 52px auto 0;
  width: 160px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background: -webkit-linear-gradient(173.82deg, #ff373c 4.68%, #ff5757 83.21%);
  background: -moz-linear-gradient(173.82deg, #ff373c 4.68%, #ff5757 83.21%);
  background: linear-gradient(276.18deg, #ff373c 4.68%, #ff5757 83.21%);
  border-radius: 19px;
  text-decoration: none;
  text-align: center;
}
